body { /* Стиль тела документа */
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; 
  font-size: 14pt;
  background-color: white;
  margin: 30px 30px 5px; /* Сокращенная запись свойства  Top + RL + Bottom */ 
  overflow: auto;
}

a { 
     color: black; 
	 text-decoration: none; /* Отменяем подчеркивание у ссылки */
 } 
 
a:hover {
    color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }
   
a:visited { 
     color: #cf1002ce; /*Цвет посещенных ссылок*/ 
	 text-decoration: none; /* Отменяем подчеркивание у ссылки */
 } 

/* HEADER */
img {
	height: 70px;
	width: 70px;
	border: 2px solid orange;
	float: top;
}


header {
     background: #F5DEB3;
     width: 100%;
     height: 135px;
	 /* position: fixed; */
	 display: flex;
}

.main_header {
	text-align: center;
	font-size: 32px;
	font-family: inherit; 
}

.Figure {
	margin: 5px 100px 5px 30px; /* TRBL*/
}
 

/* NAV */
nav {
     background: #FE9798;
     width: 100%;
     height: 40px;
	 display: flex;
}
table {
	padding-top: 6px;
}
.nav_td {
	padding-left: 30px;
	padding-right: 60px; /* TRBL*/
}



/* SECTION */
section {
     background: #c46a70d7;
     float: left;
     width: 60%;
     height: auto;
	 margin: 5px;
	 padding: 2px;
	 border-radius: 10px;
}

p {
	padding: 2px 10px 30px 5px;
	margin: 5px;
	font-size: 20px;
	font-family: inherit; 
	text-align: justify;
	text-indent: 30px; /* Красная строка */
	clear: both;
	float: top;
}


/* ARTICLE */
article {
	background: #520559ae;
	float: left;
    width: 100%;
    /* height: 800px; */
	overflow: auto;
	margin: auto;
}
h2 {
	margin: 5px;
	font-size: 20px;
	font-family: inherit; 
	text-align: center;
	text-indent: 30px;
	padding-top: 2px;
	color: #f8fa9b;
	float: left;
}
ul {
	list-style: circle;
	padding-right: 7px; 
    color: white; 
	float: top;
}


/* ASIDE */
aside {
	background: #40E0D0;
    float: right;
    width: 30%;
    height: auto;
	padding: 5px; /* Поля вокруг картинки */
    margin: 5px 10px 5px 0; /* Отступы вокруг рисунка */
    border: 1px solid #333; /* Параметры рамки */
	overflow: auto;
}

#ph_five {
	height: 400px;
	width: 300px;
	border: 2px solid blue;
	float: top;
	position: relative;
}


/* FOOTER */
footer {
    overflow: auto;
    background: #0c0370bd; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

div {
	padding: 5px;
	margin-right: 10px;
	border: 10px;
}

.footer_cop, .footer_p {
	font-family: 'Bradley Hand', cursive;
	font-size: 16px;
	display: inline-block;
}

.footer_cop {
	float: right;
}